* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: #fff;
}

.wrapper{
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app-title{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    position: relative;
    letter-spacing: 4px;
    background: #3494fa;
    box-shadow: 0 10px 10px rgba(52,148,250,0.5);

}

#weatherIcon{
    margin: 1rem;
}


.card{
    width: 15rem;
    height: 23rem;
    margin: 2rem;
    border: 2px solid #cccc;
    border-radius: 0 0 20px 20px;
    background: #3494fa;
    box-shadow: 5px 10px 20px rgba(52,148,250,0.5), -5px -5px 10px rgba(52,148,250,0.2);
}

.card:hover{
    transform: scale(0.99);
}

.card #countryname{

    background: #000000;
    color: #ffffff;
    line-height:1.8rem;
    font-size:1rem;
    text-align: center;
}

.card-body{
    padding: 2rem;
}

.flag{
    margin: 0 0 10px 0;
    width: 100%;
    height: 8rem;
}

.card-body #infoWrapper{
    color: #000000;
    text-align: center;
}

.card-body #weatherBtn{
    color: #000000;
    border: 1px solid #000000;
    margin: 0.8rem 0 0 1.5rem;
}

.card-body #weatherBtn:active{
   transform: scale(0.9);
}